doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Error
        link(rel="stylesheet" href="/index.css")
    body 
    .baseError 
      .caption-nav
        div.errorAlignText
          h1 Error: #{status}
          h2 #{message}
          h3 (¡¡¡Creo que algo salió mal!!!)
    script. 
      setTimeout(() => {
          window.location.href = '/';
        }, 5000);