doctype html
html(lang="es")
    head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title product
      link(rel='stylesheet' href="/index.css")
    body
      .landing 
        .caption-nav 
          h1 Landing page of Rick and Morty en Pug.
          a.button(href= url) Entrar 

